.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6em;
  margin-bottom: 50px;
}

.left {
  margin-left: 40px;
  border-radius: 0.5em;
  background-color: #791ece;
  width: 70%;
  height: 100%;
  display: flex;
  position: relative;
  opacity: 0;
}

.foto {
  width: 100%;
  border-radius: 0.5em;
  transition: all 500ms ease-in-out; 
}

.btnfoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  color: #eee;
  height: 3em;
  background: transparent;
  width: 10em;
  border: 1px solid #eee;
  font-weight: bolder;
  font-size: 1.1em;
  transition: all 500ms ease-in-out; 
}

.btnfoto:hover {
  transition: all 500ms ease-in-out; 
  cursor: pointer;
  box-shadow: 0px 0px 20px 20px rgba(250, 250, 250, 0.5);
}

.btnoff {
  display: none !important;
}

.hovering {
  opacity: 0.3;
  transition: all 500ms ease-in-out; 
}

.foto:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.right {
  margin-right: 40px;
  width: 30%;
  height: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #272727;
}

.right div {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projecttitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.summary {
  margin-top: 10px !important;
  font-size: 1rem !important;
  font-weight: normal;
}

.techstack {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0px !important;
}

.techstack ul {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.techstack ul li {
  font-size: 1rem !important;
  font-weight: normal;
  list-style-type: none;
  margin-right: 10px;
}

.stackimg {
  width: 30px;
  height: 30px;
  transition: all 500ms ease-in-out; 
}

.stackimg:hover {
  cursor: pointer;
  transition: all 500ms ease-in-out; 
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.slideup {
  animation: titleanimation 1600ms forwards ease-in;
}

.bump {
  animation: bump 1600ms forwards ease-in;
}

@keyframes bump {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }  
}

@keyframes titleanimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
    transform: scale(0.97);
  }
  75% {
    opacity: 0.75;
    transform: translateY(-10px);
    transform: scale(1.01);
    box-shadow: 0px 10px 30px 30px rgba(0, 0, 0, 0.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left, .right {
    width: 80%;
    margin: 0;
  }

  .right {
    margin-top: 30px;
  }

  .techstack {
    margin-top: 0px !important;
  }

  .projecttitle {
    margin-bottom: 0 !important;
  }
}

@media (max-width:480px) {
  .left, .right {
    width: 90%;
  }

  .summary {
    font-size: 15px;
  }
}