.footer {
  background-color: #373737;
}

.layer {
  height: 50px;
  width: 100%;
}

.content {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #eee;
  background-color: #373737;
  height: 50px;
}
