.footer {
  margin: 0 !important;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.layer {
  height: 50px;
  width: 100%;
}

.content {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #eee;
  background-color: #272727;
  padding-bottom: 10px;
  padding-top: 10px;
}

.made {
  opacity: 0;
}

.bump {
  animation: bump 1600ms forwards ease-in;
}

@keyframes bump {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }  
}
