.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
}

.spinner p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}